
<div class="details">
    <div class="div_flex" id="div_flex">
        <div class="card">
            <div class="div_img">
                <img src={{imageLink}} alt="">
            </div>
        </div> 
        <div class="sub_details">
            <h2 class="city_name">{{cityName}}</h2>
            <h2 *ngIf="cMode && !errorMode" class="temperature">{{temperatureC}}&#176;c</h2>
            <h2 *ngIf="!cMode && !errorMode" class="temperature">{{temperatureF}}&#176;f</h2>
        </div>
        
    </div>
    <div class="buttons">
        <button (click)="favoriteButtonClicked()" class="fav_btn" [disabled]="errorMode">{{isFavoriteText}} Your Favorites</button>
        <button (click)="convertDeg()" class="fav_btn"  [disabled]="errorMode">Convert To {{toConvert}}</button>
    </div>
    <h1 class="responsive_weather_text" id="responsive_weather_text">{{weatherText}}</h1>
</div>
 <h1 class="weather_text" id="weather_text">{{weatherText}}</h1>

 <div [ngStyle]="{'background-image': 'url(' + getBackground() + ')'}" class="general"></div>

