.favorites {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-evenly;
    min-height: calc(100vh - 60px - 200px - 45px);
    position: relative;
    text-align: center;
}

h1 {
  top: 40%;
  position: absolute; 
}


@media(max-width : 600px) {
    .favorites {
      flex-direction: column;   
      min-height: calc(100vh - 60px - 150px - 75px);
      padding-left: 3%;
      padding-right: 3%;
    }
    h1 {
      top: 0;
      position: relative; 
    }
}

