.favorites {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-evenly;
    min-height: calc(100vh - 60px - 200px - 45px);
}



@media(max-width : 625px) {
    .favorites {
      flex-direction: column;      
    }
}
